<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">
        {{!-- <img src="../img/logo.png" height="60" class="d-inline-block align-top" alt=""> --}}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Реєстрація <span class="sr-only">(current)</span></a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Сплата</a>
          </li> -->
          {{!-- <li class="nav-item">
            <a class="nav-link" href="/about.html">Про компанію</a>
          </li> --}}
                    <li class="nav-item">
            <a class="nav-link" href="http://ilac.com.ua/prices.html">Ціни</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/contacts.html">Контакти</a>
          </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form> -->
      </div>
            <div class="head-title text-white">Мiжнародний екзаменацiйний центр</div>
      <span class="text-white">Тел: (050) 398-77-91</span>
    </nav>
  </div>
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <img src="../img/logo.png" height="60" class="d-inline-block align-top logo" alt="">
        <h1 class="display-4">&nbsp;</h1>
        <!-- <p class="lead">&nbsp;</p> -->
      </div>
    </div>
  </div>

  <div class="container">
<h2>Контакти Міжнародного Екзаменаційного Центру</h2>
<div class="content_text"><!--<p><strong>Тел</strong>: (044) 569-88-40; <span>(044) 569-88-50</span></p>-->
<p><strong>Моб</strong>. (050) 398-77-91 – Юлія  Карпенко, менеджер міжнародних іспитів</p>
<p><strong>E-mail</strong>: karpenko.y@dinternal.com.ua</p>
<p><strong>E-mail:</strong> ilac.kyiv@gmail.com</p>
<p>&nbsp;</p>
<p><strong>Години роботи:</strong><br>
Пн-Пт: 9:00 - 18:00 <br>
Сб-Нд: вихідні</p>
<p>&nbsp;</p>
<p><strong>&nbsp;Адреса:</strong>&nbsp;<br>
м. Київ, вул. Василя Тютюнника, 16 А (кол. Анрі Барбюса)</p></div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
  </div>
  <div class="container"> {{> footer}}</div>
</body>

</html>