<form id="form-less" class="mt-3 needs-validation">
  <fieldset>
    <input name="yearsoldless" type="hidden" class="form-control" id="yearsoldless" placeholder="Name" value="0">
    <input name="contractless" type="hidden" class="form-control" id="contractless" placeholder="contract" value="0">
    <div class="row">
      <div class="col-md-3 mb-3">
        <div class="form-group">
          <label for="cityless">Місто *</label>
          <select name="cityless" class="form-control" id="cityless">
            <option value="Київ">Оберіть місто</option>
          </select>
        </div>
      </div>
      <div class="col-md-9 mb-3">
        <div class="form-group">
          <label for="centerless">Центр тестування *</label>
          <select name="centerless" class="form-control" id="centerless">
            <option value="00000">Оберіть центр тестування *</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="firstNameless">І'мя кандидата (ВЕЛИКИМИ латинськими літерами, для відображення в сертифікаті) *</label>
        <input name="firstnameless" type="text" class="form-control" id="firstNameless" placeholder="Name" value="" required="">
        <div class="invalid-feedback">
          Введіть ім'я.
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="lastnameless">Прізвище кандидата (ВЕЛИКИМИ латинськими літерами, для відображення в сертифікаті) *</label>
        <input name="lastnameless" type="text" class="form-control" id="lastnameless" placeholder="Last Name" value=""
          required="">
        <div class="invalid-feedback">
          Введіть Прізвище.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 mb-3">
        <label for="birthless">Дата народження *</label>
        <input name="birthless" type="text" class="form-control" id="birthless" placeholder="15.10.2020" value="" required="">
        <div class="invalid-feedback">
          Введіть дату народження.
        </div>
      </div>
      <div class="col-md-5 mb-3">
        <div class="form-group">
          <label for="levelless">Рівень іспиту PTE *</label>
          <select name="levelless" class="form-control" id="levelless" required="">
            <option value="0" selected="selected">Оберіть рівень</option>
          </select>
        </div>
      </div>
      <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="costless">Вартість обраного іспиту(грн) *</label>
            <input name="costless" type="text" class="form-control" id="costless" placeholder="Оберіть рівень іспиту" value="0" readonly>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="emailless">E-mail (батьків) *</label>
        <input name="emailless" type="email" class="form-control" id="emailless" aria-describedby="emailHelp"
          placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
          else.</small>
      </div>
      <div class="col-md-6 mb-3">
        <div class="form-group">
          <label for="phoneless">Телефон (батьків) *</label>
          <input name="phoneless" type="text" class="form-control" id="phoneless" placeholder="096 345 1234" value=""
            required="">
          <div class="invalid-feedback">
            Введіть номер телефону.
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
    </div>

    <div class="row">
      <div class="col-md-12">
        <p>Екзаменаційна сесія *</p>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="monthless">Місяць *</label>
          <select name="monthless" class="form-control" id="monthless">
              <option value="03">Березень</option>
              <option value="05">Травень</option>
              <option value="06">Червень</option>
              <option value="11">Листопад</option>
              <option value="12">Грудень</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="yearless">Рік *</label>
          <select name="yearless" class="form-control" id="yearless">
            <option>2020</option>
          </select>
        </div>
      </div>


    </div>
    <fieldset class="form-group">
      <legend>Погодження</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="" required="">
          Ознайомлений з <span class="oferta-btn" data-toggle="modal" data-target=".oferta-modal-lg">договором публічної оферти</span>
        </label>
        <div class="invalid-feedback">
          Ви не погодились з договором.
        </div>
      </div>
    </fieldset>
    <button type="submit" class="btn btn-primary sbm">Зареєструватись</button>
  </fieldset>
  <p class="mt-3"></p>
</form>