<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
  <div class="container">
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">
        <!-- <img src="../img/logo.png" height="60" class="d-inline-block align-top" alt=""> -->
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Реєстрація <span class="sr-only">(current)</span></a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Сплата</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="/about.html">Про компанію</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="http://ilac.com.ua/prices.html">Ціни</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/contacts.html">Контакти</a>
            </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form> -->
      </div>
      <div class="head-title text-white">Мiжнародний екзаменацiйний центр</div>
      <span class="text-white">Тел: (050) 398-77-91</span>
    </nav>
  </div>
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <img src="../img/logo.png" height="60" class="d-inline-block align-top logo" alt="">
        <h1 class="display-4">&nbsp;</h1>
        <!-- <p class="lead">&nbsp;</p> -->
      </div>
    </div>
  </div>
  <div class="container">
<p>PTE General (Pearson Test of English General) – це мiжнародні іспити з загальної англiйської для підлітків та дорослих, призначені для підтверждення рiвня володiння англійською мовою.</p>
<p>PTE General складається з двох частин: письмової (аудiювання, письмо i читання) та усної. Іспити можна скласти у місцевих офіційних акредитованих центрах тестування Pearson. Екзаменацiйнi роботи учасникiв тестування перевiряють квалiфiкованi екзаменатори у Великій Британії.</p>
<p>Усний тест проводять сертифiкованi екзаменатори, i його результати також надсилають у Велику Британію для перевiрки.</p>
<p>Всi рiвнi екзамену PTE General вiдповiдають Загальноєвропейськiй системi рекомендацій з iноземних мов (Common European Framework — CEFR) та мають акредитацiю Ofqual, Велика Британiя (Office of Qualifications and Examinations Regulation – державна організацiя, яка контролює та регулює стандарти i якiсть екзаменiв i тестiв в Англiї та Пiвнiчнiй Iрландiї).</p>        
<p>PTE Young Learners (Pearson Test of English Young Learners) - це мiжнародні іспити з загальної англiйської для дітей, організовані таким чином, щоб бути цiкавими та захоплюючими, а також  зробити їх перший досвiд вивчення англiйської мови таким, що запам’ятовується та мотивує. Iснує чотири рiвнi тесту PTE Young Learners: Firstwords, Springboard, Quickmarch, Breakthrough.</p>
<p>&nbsp;</p>
<h2>Реєстрація</h2>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#more"><strong>Мені є 18 років</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#less"><strong>Мені немає 18 років</strong></a>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade show active" id="more">

        <div class="row">
          <div class="col-md-8">
            {{> formmore}}
            <p></p>
            <div id="formmore-success" class="card border-success mb-3" >
              <div class="card-header">Деталі реєстрації</div>
              <div class="card-body">
                <p >Реєстраційний номер кандидата: <span class="number"></span> </p>
                <h4 class="card-title">Ви ввели наступні дані:</h4>
                <p class="card-text">
                  <p >Ім'я: <span class="firstnamemore"></span> </p>
                  <p >Прізвище: <span class="secondnamemore"></span> </p>
                  <p >Email: <span class="email"></span> </p>
                  <p >Тел: <span class="phonemore"></span> </p>
                  <p >Вартість іспиту (грн): <span class="pricemore"></span> </p>
                  <p class="hide-el">Комісія (грн): <span class="feemore"></span> </p>
                  <p class="hide-el">Разом до сплати (грн): <span class="totalmore"></span> </p>
                  
                  <div class="alert alert-dismissible alert-secondary">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4 class="alert-heading">Увага!</h4>
                    <p>Для підтвердження реєстрації сплатіть за сесію! Для цього на Ваш email було відправлено рахунок. Перевірте, будь ласка.</p>
                  </div>
                </p>
                <div id="paymentmore"></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            
          </div>
        </div>

      </div>
      <div class="tab-pane fade" id="less">
        <div class="alert alert-info mt-3 mb-3 alert-dismissible fade show" role="alert">
          Увага! Форму мають заповнити <strong>батько\мати\опікун</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <p></p>
        <div class="row">
          <div class="col-md-8">{{> formless}}
            <div id="formless-success" class="card border-success mb-3" >
              <div class="card-header">Деталі реєстрації</div>
              <div class="card-body">
                <p >Реєстраційний номер кандидата: <span class="number"></span> </p>
                <h4 class="card-title">Ви ввели наступні дані:</h4>
                <p class="card-text">
                  <p >Ім'я: <span class="firstname"></span> </p>
                  <p >Прізвище: <span class="secondname"></span> </p>
                  <p >Email: <span class="email"></span> </p>
                  <p >Тел: <span class="phone"></span> </p>
                  <p >Вартість іспиту (грн): <span class="price"></span> </p>
                  <p style="display:none;">Комісія (грн): <span class="fee"></span> </p>
                  <p style="display:none;">Разом до сплати (грн): <span class="total"></span> </p>
                  
                  <div class="alert alert-dismissible alert-secondary">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4 class="alert-heading">Увага!</h4>
                    <p>Для підтвердження реєстрації сплатіть за сесію! Для цього на Ваш email було відправлено рахунок. Перевірте, будь ласка.</p>
                  </div>
                </p>
                <div id="paymentmore"></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </div>

   

  </div>
  <div class="container"> {{> footer}}</div>
  <script src="https://api.fondy.eu/static_common/v1/checkout/ipsp.js"></script>
</body>

</html>